# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
.venv/

# Local tools
ffmpeg.exe
cloudflared.exe
.tools/
.logs/

# App runtime data
uploads/
static/outputs/
*.ass
*.mp3

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
